<div class="container">
	<div class="row pt-5 mb-5">
		<div class="col-12 mb-4">
			<h2 class="text-center">Activate Account</h2>
			<p class="text-center">Create your password to active your account.</p>
		</div>
		<div class="col-12 col-md-7 mx-auto">
			<form action="">
				<div class="form-floating mb-3">
					<input type="password" name="password" class="form-control" id="password" placeholder="Password">
					<label for="password">Password</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="confirmPassword">
					<label for="confirmPassword">Confirm Password</label>
				</div>
				
				<div class="form-group d-flex justify-content-center">
					<input type="submit" class="btn btn-primary me-2" value="Reset Password">
					<button type="button" class="btn btn-outline-primary ms-2">Decline Invitation</button>
				</div>
			</form>
		</div>
	</div>
</div>