<div class="container pt-5 pb-5">
	<div class="row pb-5">
		<div class="col">
			<h1>My Account</h1>
			<p class="icon-register">Return To<a href="#0">Account Details</a></p>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-10">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">ORDER</th>
						<th scope="col">Date</th>
						<th scope="col">Payment Status</th>
						<th scope="col">Fulfilment Status</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Jan 2, 2021</td>
						<td>Paid</td>
						<td>Unfulfilled</td>
						<td>200.00 GTQ</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Jan 2, 2021</td>
						<td>Paid</td>
						<td>Unfulfilled</td>
						<td>200.00 GTQ</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Jan 2, 2021</td>
						<td>Paid</td>
						<td>Unfulfilled</td>
						<td>200.00 GTQ</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Jan 2, 2021</td>
						<td>Paid</td>
						<td>Unfulfilled</td>
						<td>200.00 GTQ</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Jan 2, 2021</td>
						<td>Paid</td>
						<td>Unfulfilled</td>
						<td>200.00 GTQ</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Jan 2, 2021</td>
						<td>Paid</td>
						<td>Unfulfilled</td>
						<td>200.00 GTQ</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<tr>
					<td>Subtotal</td>
					<td class="text-end">200</td>
				</tr>
				<tr>
					<td>Shipping (Standar)</td>
					<td class="text-end">20</td>
				</tr>
				<tr>
					<td>Total</td>
					<td class="text-end">200 GTQ</td>
				</tr>
			</table>
		</div>
		<div class="col-12 col-lg-2">
			<h4>Order History</h4>
			<p>Santos Daniel</p>
			<p>San Martin Jilotepeque, Chimaltenango, Guatemala</p>
			<p>Guatemala</p>
			<a href="#0">View Address</a>
		</div>
	</div>
</div>