<div class="container mt-5 mb-5">
	<div class="product-recommendations" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}">
		<div class="buttons">
			<button aria-label="Previous" class="glider-prev">«</button>
			<button aria-label="Next" class="glider-next">»</button>
		</div>
		<div class="slideder-recomended">
			{% if recommendations.performed and recommendations.products_count > 0 %}
				{% for product in recommendations.products %}
					<div class="slider-item">
						{% render 'buyshoues-card-product' product: product %}
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div role="tablist" class="dots"></div>
	</div>
</div>

<script>
	window.addEventListener("load", () => {
		const handleIntersection = (entries, observer) => {
			if(!entries[0].isIntersecting) return;

			observer.unobserve(productRecommendationsSection);
			const url = productRecommendationsSection.dataset.url;

			fetch(url)
			.then(response => response.text())
			.then(text => {
				const html = document.createElement('div');
				html.innerHTML = text;
				const recommendations = html.querySelector('.product-recommendations');
				if(recommendations && recommendations.innerHTML.trim().length) {
					productRecommendationsSection.innerHTML = recommendations.innerHTML;
					new Glider(document.querySelector('.slideder-recomended'), {
						slidesToShow: 4,
						dots: '.dots',
						arrows: {
							prev: '.glider-prev',
							next: '.glider-next'
						}
					});
				}
			})
			.catch(e => {
				console.log(e);
			})
		}

		const productRecommendationsSection = document.querySelector('.product-recommendations');
		const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});
		observer.observe(productRecommendationsSection);
	});
</script>